---
all:
  vars:
    ansible_user: admin
    ansible_network_os: eos
    ansible_password: admin
    ansible_connection: httpapi
    ansible_httpapi_use_ssl: True
    ansible_httpapi_validate_certs: False
    ansible_httpapi_port: 443
    ansible_become: yes
    ansible_become_method: enable
  children:
    LEAFS:
      hosts:
        leaf1:
        leaf2:
        leaf3:
        leaf4:
